.users-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 70%;
  position: absolute;
  overflow: auto;
  bottom: 0;
  width: 100%;
  border: 1px solid var(--black);

}

.load-more-button {
  margin: 5px;
  padding: 10px 20px;
  display: block;
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.2s;
  height: 60px;
}

.load-more-button:hover {
  background-color: var(--dark-grey);
}

.end-message {
  text-align: center;
  margin: 20px;
  color: #666;
}